site_name: Quantum Device and Technology Group Knowledge Base
edit_uri: edit/main/docs/
theme:
 name: material
 logo: assets/BRIN-Q(BnW).png
 favicon: assets/favicon.png
 features:
  - content.action.edit
  - content.action.view
  - content.code.annotate
  - content.code.copy
  # - content.code.select
  # - content.footnote.tooltips
  # - content.tabs.link
  - content.tooltips
  # - header.autohide
  # - navigation.expand
  - navigation.footer
  - navigation.indexes
  # - navigation.instant
  # - navigation.instant.prefetch
  # - navigation.instant.progress
  # - navigation.prune
  - navigation.sections
  - navigation.tabs
  # - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.share
  - search.suggest
  - toc.follow
  # - toc.integrate
 language: en
 palette:
  - scheme: default
    primary: indigo
    accent: red
    toggle:
     icon: material/brightness-4
     name: Switch to dark mode
  - scheme: slate
    primary: black
    accent: lime
    toggle:
     icon: material/brightness-7
     name: Switch to light mode
 font:
  text: Roboto
  code: Roboto Mono
 plugins:
  - tags

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_css:
  - stylesheets/extra.css

copyright: Copyright &copy 2024 <a href="https://github.com/r3dhyka" target="_blank" rel="noopener">Grace Redhyka</a>

nav:
 - Home: index.md
 - Instruments:
   - Pulsed Laser Deposition: instruments/pld.md
   - Atomic Force Microscopy: instruments/afm.md
 - Recipes:
   - Substrate Cleaning: recipes/substrate_cleaning.md